In [1]:
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df = pd.read_excel('Вариант 1.xlsx', skiprows = 2)
df.head()

,№,№ школы,Класс,Пол,Номер варианта,Задания с кратким ответом,Задания с развёрнутым ответом,Устная часть,Первичный балл,Балл,Минимальный балл
0,1.0,117.0,11,М,341.0,1+++--1+-++---0---------0,0(1)0(3)0(1)0(3)0(2)0(2)0(3)0(3)0(2)0(2)0(1)0(1),NaN,8.0,20.0,24.0
1,2.0,148.0,12А,М,338.0,1+---+0--+---+0----++-+-0,0(1)0(3)0(1)0(3)0(2)0(2)0(3)0(3)0(2)0(2)0(1)0(1),NaN,8.0,20.0,24.0
2,3.0,152.0,13,Ж,104.0,2-----0--+----1---------1,0(1)0(3)0(1)0(3)0(2)0(2)0(3)1(3)0(2)1(2)1(1)1(1),NaN,9.0,22.0,24.0
3,4.0,152.0,13,М,104.0,1+--+-0++-----2----++---0,0(1)0(3)0(1)0(3)0(2)0(2)0(3)0(3)0(2)0(2)0(1)0(1),NaN,9.0,22.0,24.0
4,5.0,132.0,11,М,337.0,1++---0-+++---1----+----2,0(1)0(3)0(1)0(3)0(2)0(2)0(3)0(3)0(2)0(2)0(1)0(1),NaN,10.0,24.0,24.0

In [15]:
df_k = df['Задания с развёрнутым ответом'].str.split('',expand=True)
df_k
df_k = df_k.replace({'\(': '', '\)': ''}, regex=True).drop([0,48,49],axis=1)
df_k

,1,2,3,4,5,6,7,8,9,10,...,38,39,40,41,42,43,44,45,46,47
0,0,,1,,0,,3,,0,,...,,2,,0,,1,,0,,1
1,0,,1,,0,,3,,0,,...,,2,,0,,1,,0,,1
2,0,,1,,0,,3,,0,,...,,2,,1,,1,,1,,1
3,0,,1,,0,,3,,0,,...,,2,,0,,1,,0,,1
4,0,,1,,0,,3,,0,,...,,2,,0,,1,,0,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3044,1,,1,,3,,3,,1,,...,,2,,1,,1,,1,,1
3045,1,,1,,3,,3,,1,,...,,2,,1,,1,,1,,1
3046,1,,1,,3,,3,,1,,...,,2,,1,,1,,1,,1
3047,1,,1,,3,,3,,1,,...,,2,,1,,1,,1,,1
3048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
dict_k = {int(i):'p_'+str(i)for i in range(1,df_k.shape[1]+1)}
dict_k

{1: 'p_1',
 2: 'p_2',
 3: 'p_3',
 4: 'p_4',
 5: 'p_5',
 6: 'p_6',
 7: 'p_7',
 8: 'p_8',
 9: 'p_9',
 10: 'p_10',
 11: 'p_11',
 12: 'p_12',
 13: 'p_13',
 14: 'p_14',
 15: 'p_15',
 16: 'p_16',
 17: 'p_17',
 18: 'p_18',
 19: 'p_19',
 20: 'p_20',
 21: 'p_21',
 22: 'p_22',
 23: 'p_23',
 24: 'p_24',
 25: 'p_25',
 26: 'p_26',
 27: 'p_27',
 28: 'p_28',
 29: 'p_29',
 30: 'p_30',
 31: 'p_31',
 32: 'p_32',
 33: 'p_33',
 34: 'p_34',
 35: 'p_35',
 36: 'p_36',
 37: 'p_37',
 38: 'p_38',
 39: 'p_39',
 40: 'p_40',
 41: 'p_41',
 42: 'p_42',
 43: 'p_43',
 44: 'p_44',
 45: 'p_45',
 46: 'p_46',
 47: 'p_47'}

In [19]:
df_k = df_k.rename(columns = dict_k)
df_k.head(10)

,p_1,p_2,p_3,p_4,p_5,p_6,p_7,p_8,p_9,p_10,...,p_38,p_39,p_40,p_41,p_42,p_43,p_44,p_45,p_46,p_47
0,0,,1,,0,,3,,0,,...,,2,,0,,1,,0,,1
1,0,,1,,0,,3,,0,,...,,2,,0,,1,,0,,1
2,0,,1,,0,,3,,0,,...,,2,,1,,1,,1,,1
3,0,,1,,0,,3,,0,,...,,2,,0,,1,,0,,1
4,0,,1,,0,,3,,0,,...,,2,,0,,1,,0,,1
5,1,,1,,1,,3,,0,,...,,2,,1,,1,,1,,1
6,0,,1,,0,,3,,0,,...,,2,,0,,1,,0,,1
7,0,,1,,0,,3,,0,,...,,2,,0,,1,,0,,1
8,0,,1,,0,,3,,0,,...,,2,,0,,1,,0,,1
9,0,,1,,0,,3,,0,,...,,2,,0,,1,,0,,1